body{
    margin: 0;
    background-color: #93b88c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
}
.calculator{
    max-width: 360px;
    background-color: #101d3f;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 20px;
}
#display{
    width: 100%;
    height: 60px;
    font-size: 20px;
    text-align: right;
    margin-bottom: 10px;
    border: none;
    box-sizing: border-box;
    padding: 20px;
    color: #e0e1dd;
}
#Ac{
    color: blue;
}
#De{
    color: red;
}
.equal{
    color: red;
    width: calc(50% -10px);
}
button{
    font-size: 20px;
    width: 60px;
    height: 60px;
    margin: 8px;
    padding: 15px;
    border: none;
    border-radius: 10px;
    box-shadow: -1px -1px 15px rgba(255, 255, 255, 0.1) , 
    5px 5px 15px rgba(0,0,0,0.2);
    background-color: transparent;
    color: white;
    cursor: pointer;
}
button:hover{
    cursor: pointer;
}
button:active{
    transform: scale(1.1);
    transition: 0.5s;
}
.equal{
    width: 145px;
}
